body{
    border: 0px;
    padding: 0px;
    margin: 0px;
    background-color: lightblue;
}

#midArea{
    width: 400px;
    height: 400px;
    border: 2px aquamarine;
    border-radius: 5px;
    padding: 0px ;
    margin: 100px auto 0px auto;
    background-color: rgb(252, 251, 249);
    text-align: center;
}
#title{
    line-height: 50px;
    font-weight: 777;
    font-size: 25px;
}
#formMid{
    width: 90%;
    height: 70%;
    margin: 0px auto;
    background-color: rgb(98, 185, 156);

}
.account .password{
    width: 70%;
    /* line-height: 50px; */
    margin-top: 10px;
    font-size: 15px;
}
.account input , .password input{
    height: 30px;
    width: 100px;
    margin-top: 20px;
    transition: all 0.3s;
}
.account input:focus{
    width: 200px;
}
.password input:focus{
    width: 200px;
}
