<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>view-prefix</param-name>
        <param-value>/web/</param-value>
    </context-param>
    <context-param>
        <param-name>view-suffix</param-name>
        <param-value>.html</param-value>
    </context-param>

    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>MySSM.Filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>MySSM.Filter.TransactionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckLoginFilter</filter-name>
        <filter-class>MySSM.Filter.CheckLoginFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLoginFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>


    <listener>
        <listener-class>MySSM.Listener.BeanFactoryListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>MySSM.DispatcherServlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

</web-app>