<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>course</title>
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" th:href="@{/web/manage/css/course.css}">
    <script th:src="@{/web/manage/js/vue.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/web/manage/js/axios.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/web/manage/js/course.js}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="form">

    <div class="title">course表</div>

    <table id="table1">
        <thead>
        <tr>
            <th v-for="item in courseColName">{{item}}</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr v-for="course in courseList">
            <td>{{course.course_id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.credit}}</td>
            <td>{{course.period}}</td>
            <td><input type="button" value="删除"
                       v-on:click="deleteCourse(course.course_id,course.name,course.credit,course.period)"/></td>
        </tr>
        </tbody>
    </table>

    <hr/>

    <table id="table2">
        <tbody class="tbody">
        <tr>
            <td><input type="text" id="course_id"/></td>
            <td><input type="text" id="name"/></td>
            <td><input type="text" id="credit"/></td>
            <td><input type="text" id="period"/></td>
            <td><input type="button" value="添加" v-on:click="checkAddCourse()"/></td>
        </tr>
        </tbody>
    </table>

    <hr/>

    <div class="btnbox">

        <button class="btn" type="button" value="上一页" v-on:click="pageNumberSUB">上一页</button>

        <button class="btn" type="button" value="下一页" v-on:click="pageNumberADD">下一页</button>

    </div>
</div>
</body>
</html>